/*

==========================
  Main Header style
==========================

*/

.header-top {
  color: $cl-black;
  padding: 10px 0;
  .single-header-top {
    p {
      margin: 0;
      margin-top: 3px;
      font-size: 14px;
      display: inline-block;
      span {
        margin-right: 20px;
        i {
          margin-right: 5px;
        }
        a {
          color: $cl-black;
          &:hover {
            color: $cl-primary;
          }
        }
      }
    }
    ul {
      display: inline-block;
      margin-left: 20px;
      li {
        display: inline-block;
        margin: 0 8px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $cl-black-2;
          font-size: 13px;
          font-weight: 600;
          i {
            margin-right: 5px;
          }
          &:hover {
            color: $cl-primary;
            text-decoration: underline;
          }
        }
      }
    }
    .account-menu {
      float: right;
      @media (max-width: 767px) {
        float: none;
        text-align: center;
      }
      ul {
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
    @media (max-width: 767px) {
      text-align: center;
      overflow: hidden;
      margin-bottom: 10px;
    }
    &.last {
      @media (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
  }
}

// Account Modal
.acc-tab-btn {
  width: 100%;
  background: $cl-blue;
  text-align: center;
  border: 3px solid $cl-blue;
  li {
    width: 50%;
    float: left;
    a {
      width: 100%;
      padding: 12px 0;
      display: inline-block;
      color: $cl-white;
      &.active {
        background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
      }
    }
  }
}

.social-login {
  text-align: center;
  margin-bottom: 20px;
  a {
    padding: 6px 18px;
    margin-right: 10px;
    color: $cl-white;
    display: inline-block;
    border-radius: 4px;
    @media (max-width: 420px) {
      margin-bottom: 5px;
    }
    i {
      margin-right: 5px;
    }
  }
}
.acc-form {
  input {
    width: 100%;
    height: 50px;
    border: 2px solid #ddd;
    margin-bottom: 15px;
    text-indent: 15px;
    transition: 0.3s;
    &:focus {
      border: 2px solid $cl-blue;
    }
  }
  button {
    width: 100%;
  }
}

.header-area {
  padding: 10px 0;
  transition: 0.4s;
  width: 100%;
  z-index: 11;
  &.fixed-header {
    padding: 10px 0;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 11;
    background: #fff;
    position: fixed;
    ul {
      li {
        &::before {
          color: $cl-black;
        }
        &:hover {
          &::before {
            color: $cl-primary;
          }
        }
        a {
          color: $cl-black;
          @media (max-width: 991px) {
            color: $cl-white;
          }
          &:hover {
            color: $cl-primary;
          }
        }
      }
    }
    .header-btn {
      button {
        color: $cl-black;
      }
    }
  }
}

.header-sticky {
  background: transparent;
}

.sticky-header {
  background: $cl-white;
  padding: 10px 0;
}

.navbar-brand img {
  height: 26px;
  width: auto;
}

.main-menu {
  padding-left: 0;
  padding-right: 0;
  ul {
    li {
      margin-right: 25px;
      &:last-child {
        margin-right: 0px;
      }
      &:hover {
        a {
          color: $cl-primary;
        }
      }
      a {
        color: $cl-white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $main-font;
      }
      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3) {
        .dropdown-menu {
          .dropdown-menu {
            left: -100%;
            top: 0;
          }
        }
      }
    }
  }
}

ul.dropdown-menu li a {
  text-transform: capitalize;
}

li.nav-item.dropdown .dropdown-toggle {
  position: relative;
}

li.nav-item.dropdown .dropdown-toggle:before {
  position: absolute;
  content: '\f107';
  font-family: 'FontAwesome';
  font-size: 16px;
  font-weight: normal;
  right: -7px;
  top: 48%;
  transform: translateY(-48%);
  @media (max-width: 991px) {
    display: none;
  }
}

.dropdown-menu li.nav-item.dropdown:before {
  position: absolute;
  content: '\f107';
  font-family: 'FontAwesome';
  font-size: 16px;
  right: 15px;
  top: 48%;
  transform: translateY(-48%) rotate(-90deg);
  color: $cl-black;
}

.dropdown a {
  transition: 0.4s;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  display: block;
  background: $cl-white;
  margin-top: 23px;
  width: 220px;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
  box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
}

.dropdown:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;

  transform: translate3d(0, -5px, 0);
}

.dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  color: $cl-black !important;
}

.dropdown-menu a:hover {
  background: transparent;
}

.dropdown-menu a:active {
  background: transparent;
}

ul.dropdown-menu li .dropdown-menu {
  left: 100%;
  top: 0;
}
ul.dropdown-menu li .dropdown-menu.show {
  @media (max-width: 991px) {
    visibility: visible;
    opacity: 1;
  }
}

.main-menu ul li ul li {
  margin-right: 0;
}

/* Menu Border Bottom */
// .main-menu ul li ul li a {
//   position: relative;
//   &:before {
//     position: absolute;
//     content: "";
//     left: auto;
//     right: 0;
//     height: 2px;
//     background: $cl-black-2;
//     bottom: 0;
//     width: 0;
//     transition: 0.4s;
//   }
//   &:hover {
//     color: $cl-primary;
//     &:before {
//       width: 100%;
//       left: 0;
//     }
//   }
// }

.menu-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 20px;
  background: transparent;
  border-top: 2px solid $cl-black;
  border-bottom: 2px solid $cl-black;
  color: $cl-black;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: $cl-black;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: -webkit-transform 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -moz-transition: -webkit-transform 0.25s ease-in-out;
  -ms-transition: -webkit-transform 0.25s ease-in-out;
}
span.is-active {
  border-color: transparent;
}
span.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
span.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
span.menu-toggle:hover {
  color: #ffb606;
}
span.is-active {
  border-color: transparent;
}
span.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
span.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-toggle::after {
  display: none;
}

.black-bg .menu-toggle {
  border-top: 2px solid $cl-white;
  border-bottom: 2px solid $cl-white;
}

.black-bg .menu-toggle::before,
.black-bg .menu-toggle::after {
  background: $cl-white;
}
.black-bg .menu-toggle.is-active {
  border-color: transparent;
}

.header-btn {
  margin-left: 40px;
}

.header-btn button {
  color: $cl-white;
  background: transparent;
  &:hover {
    color: $cl-primary;
  }
}

.search-btn {
  font-size: 14px;
  color: $cl-white;
  display: inline-block;
}

/* Full Screen Search */
.search-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background: $cl-primary;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}
.search-full.open {
  height: 150px;
  opacity: 1;
  visibility: visible;
}
.search-full.close {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.search-full .search-close {
  color: $cl-primary;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
  background: transparent;
  color: $cl-white;
  &:hover {
    transform: rotate(90deg);
  }
}
.search-full--inner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.main-search-form {
  width: 100%;
}
.main-search-form input {
  border: 2px solid $cl-white;
  width: 100%;
  background-color: transparent;
  color: $cl-white;
  height: 55px;
  font-size: 18px;
  font-weight: 300;
  text-indent: 20px;
  transition: 0.4s;
  &:focus,
  &:hover {
    border: 2px solid $cl-white;
  }
}
.main-search-form input::-webkit-input-placeholder {
  color: $cl-white;
}
.main-search-form input::-moz-placeholder {
  color: $cl-white;
}
.main-search-form input:-ms-input-placeholder {
  color: $cl-white;
}
.main-search-form input:-moz-placeholder {
  color: $cl-white;
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-left: 15px;
  }

  .main-menu ul li {
    margin-right: 0;
    position: relative;
    margin: 3px 0;
  }

  .main-menu ul li.dropdown a {
    z-index: 999;
    position: relative;
    color: $cl-white;
  }
  .main-menu ul li a {
    color: $cl-white;
  }
  .main-menu ul li.dropdown:after {
    position: absolute;
    content: '\f107';
    font-family: FontAwesome;
    right: 15px;
    top: 0;
    color: $cl-white;
    line-height: 45px;
    overflow: hidden;
    z-index: 1;
    width: 45px;
    text-align: center;
    background: $cl-primary;
  }

  .dropdown-menu {
    display: none;
  }
  .dropdown-menu {
    width: auto;
    margin: 10px 15px 10px 0;
    background: $cl-white;
  }

  .navbar-collapse {
    margin-top: 20px;
    padding-left: 15px;
    max-height: 450px;
    overflow: auto;
    background: $cl-black;
    padding-bottom: 20px;
  }

  .cart-btn {
    margin-left: 0;
    margin-top: 15px;
  }

  li.nav-item.dropdown:before {
    display: none;
  }

  .header-btn {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .main-menu {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-brand {
    margin-left: 0;
  }
  .navbar-toggler {
    padding-right: 0;
  }
}
