// Font Family
$main-font: 'Open Sans', sans-serif;
$headding-font: 'Comfortaa', sans-serif;

// Colors
$cl-black: #292929;
$cl-black-2: #434a53;
$cl-white: #ffffff;
$cl-primary: #fdd50b;
$cl-blue: #252f5a;
$cl-green: #6fda44;
$cl-mint: #182137;
$cl-yellow: #a3cb38;

// Gradient Colors
$gradient-mix-color-one: #fe1360;
$gradient-mix-color-two: #fb653c;

$gradient-mix-color-1: #fd5b82;
$gradient-mix-color-2: #ff828a;

// Social Colors
$cl-facebook: #3b5999;
$cl-twitter: #55acee;
$cl-instagram: #f5214a;
$cl-youtube: #cd201f;
$cl-pinterest: #bd081c;
$cl-linkedin: #0077b5;

$facebook-bg: #3b5999;
$twitter-bg: #55acee;
$instagram-bg: #f5214a;
$youtube-bg: #cd201f;
$pinterest-bg: #bd081c;
$linkedin-bg: #0077b5;
$google-plus-bg: #dd5144;
