


// Font Family
$main-font: 'Open Sans', sans-serif;
$headding-font: 'Comfortaa', sans-serif;



// Colors
$cl-black: #292929;
$cl-black-2: #434a53;
$cl-white: #ffffff;
$cl-primary: #FDD50B;
$cl-blue: #252F5A;
$cl-green: #6FDA44;
$cl-mint: #182137;
$cl-yellow: #A3CB38;


// Gradient Colors
$gradient-mix-color-one: #FE1360;
$gradient-mix-color-two: #FB653C;

$gradient-mix-color-1: #FD5B82;
$gradient-mix-color-2: #FF828A;


// Social Colors
$cl-facebook : #3B5999;
$cl-twitter : #55ACEE;
$cl-instagram : #F5214A;
$cl-youtube : #CD201F;
$cl-pinterest : #BD081C;
$cl-linkedin : #0077B5;

$facebook-bg : #3B5999;
$twitter-bg : #55ACEE;
$instagram-bg : #F5214A;
$youtube-bg : #CD201F;
$pinterest-bg : #BD081C;
$linkedin-bg : #0077B5;
$google-plus-bg : #DD5144;









